{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height_inches</th>
        <th scope="col">Weight_lbs</th>
        <th scope="col">Age</th>

    </tr>
    </thead>
    <tbody>
    {% for Player in Names %}
    <tr>
        <td><a href="view/{{Player.Name}}">{{ Player.Name }}</a></td>
        <td>{{ Player.Team }}</td>
        <td>{{ Player.Position }}</td>
        <td>{{ Player.Height_inches }}</td>
        <td>{{ Player.Weight_lbs }}</td>
        <td>{{ Player.Age}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}