{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ Player.Name }} - {{ Player.Position }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Team: {{ Player.Team }}</li>
        <li class="list-group-item">Height_inches: {{ Player.Height_inches}}</li>
        <li class="list-group-item">Weight_lbs: {{ Player.Weight_lbs }}</li>
        <li class="list-group-item">Age: {{ Player.Age }}</li>

    </ul>
    <div class="card-body">
        <a href="/edit/{{Player.Name}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{Player.Name}}" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>


{% endblock %}
